.header {
	// margin: 16px 167px;
	margin: 0 167px 0 167px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-logo {
		display: flex;
		list-style: none;

		background: linear-gradient(
			90deg,
			#69eacb 0%,
			#d6d1f1 40.57%,
			#eaccf8 48%,
			#6654f1 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		h1 {
			font-family: 'Segoe UI';
			font-weight: 700;
			font-size: 30px;
			color: #ffffff;
		}
	}
	&-menu {
		ul {
			display: flex;
			gap: 75px;
			list-style: none;
			font-family: 'Segoe UI';
			font-weight: 400;
			font-size: 12px;
			color: #fff;

			li {
				color: #fff;
			}
		}
	}
	&-profile {
	}
}
