.paginateWrapper {
	margin-top: 2.5rem;
	ul {
		display: flex;
		justify-content: center;
		gap: 0.8rem;
		li {
			padding: 1.5px;

			&:global {
				&.selected {
					border: 2px solid #eaebed;
					border-radius: 10px;
				}
			}
			a {
				font-size: 14px;
				cursor: pointer;
				color: #2e4242;
				font-weight: 600;
				background: #98dad9;
				width: 50px;
				padding: 10px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				border-radius: 10px;
				transition-duration: 300ms;

				&:hover {
					background-color: #c4c4c4;
				}
			}
		}
	}
}
