.searchBlock {
	display: flex;
	align-items: center;
	max-width: 400px;
	width: 100%;
	cursor: pointer;
	border: 1px solid #eaebed;
	border-radius: 30px;
	padding: 0 10px;
	margin-left: 450px;
	margin-bottom: 100px;
	// background: white;
	background: #98dad9;
	svg {
		padding-left: 5px;
		width: 1rem;
		height: 1rem;
	}

	input {
		width: 100%;
		padding: 0.6rem 10px;
		border: none;
		height: 100%;
		font-size: 18px;
		font-weight: 700;
		border-radius: 8px;
		color: #5b8291;

		&::placeholder {
			font-size: 16px;
			font-weight: 500;
			color: rgb(0, 0, 0);
			opacity: 0.3;
		}
	}
}
