.carousel {
	width: 100%;
	padding: 50px 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	// background: #151419;
	background: #2e424d;
}
.carouselSlide {
	display: flex;
	align-items: center;
	animation: slide 7s linear infinite;
}
.carouselSlide img {
	display: inline-block;
	width: 100%;
	height: 200px;
	// background: #151419;
	background: #2e424d;

	margin: 0 30px;
}

@keyframes slide {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
